@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{

  .expand{
    @apply       
    tracking-wider
    transition ease-in-out 
    hover:-translate-y-1
    hover:scale-110 
    duration-300;
  }
  .imgBg{
    @apply
    relative 
    object-cover 
    rounded-md 
    shadow-2xl 
    overflow-hidden
  }
  .h1-in-img{
    @apply
    text-2xl
    md:text-6xl
    top-3/4 left-5 
    font-medium 
     text-slate 
     drop-shadow-2xl 
  }
  .nav-img{
    @apply
    ml-4 w-2/4 md:w-1/4
    min-[1400px]:w-[20%]
    min-[2000px]:w-[15%]

    text-textColor 
  }
  .nav-text{
   @apply ml-2 w-2/4 md:w-1/4
   drop-shadow-lg 
   text-textColor
  }

  .common-form-val-1{
    @apply 
  
    bg-gradient-to-t
   from-purpleCustom
   to-purpleCustomSecond 
   flex justify-center 
   pt-10
  }
  .common-form-val-2{
    @apply 
    p-8 flex-1
  }
  .common-form-val-3{
    @apply 
    w-80
     bg-purpleCustom/100 
     rounded-3xl 
     mx-auto 
     overflow-hidden 
     shadow-xl
  }

  .common-form-val-4{
    @apply  px-10 pt-4 pb-8 
  }

  .gradient-background-purple{
    @apply
    bg-gradient-to-t
    from-purpleCustom
    to-purpleCustomSecond 
  }


}

#scrollableDiv::-webkit-scrollbar {
  display: none;
}


/*--------------------------------------------------*/
/* values for component in create workout, yoga m.m*/

@layer components{

  .h1-create-workout{
    @apply       
    text-2xl md:text-4xl font-semibold
    text-center mb-2 mt-4
  }
  .input-title{
    @apply       
    h-10 shadow-lg  focus:outline-none
    rounded 
    text-center mb-2 
  }

  .input-exercise-name{
    @apply       
    pointer-events-auto 
    lg:w-80 shadow-lg w-80 mt-2 
    lg:hover:h-52  hover:h-52  rounded  h-10  focus:outline-none 
  }



}